.travels-list
  display: flex
  flex-direction: column
  margin: auto
  max-width: 1150px
  gap: 1rem

  .travels-link-container
    margin: 0 1rem

    .travels-img
      position: relative

      img
        transition: opacity 0.3s ease

      h3
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 60px
        color: white
        text-transform: uppercase
        margin: 0
        font-weight: 400

      &:hover
        img
          opacity: 0.8
