
.form
  display: flex
  flex-direction: column
  gap: 1rem
  align-items: center

  .form-item
    display: flex
    flex-direction: row
    gap: 1rem
    align-items: center

    .form-btn
      padding: 1rem
      cursor: pointer
